html, body, h1, form, fieldset, legend, ol, li {
    margin: 0;
    padding: 0;
    width: 400px;
}

body {
    background: #ffffff;
    color: #111111;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding: 20px;
}

#upload, #list, #download, #create {
    display: none;
}

header {
    background: #9cbc2c;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    padding: 2px;
    height: 40px;
    width: 436px;
}
header img {
    float: left;
    width: 50px;
    margin-left: 5px;
}
header div {
    text-align: center;
    width: 436px;
    height: 40px;
    position: relative;
}

header div h1 {
    position: absolute;
    bottom: 0;
    right: 5px;
}

form {
    background: #9cbc2c;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    padding: 20px;
}

form fieldset {
    border: none;
    margin-bottom: 10px;
}

form fieldset:last-of-type {
    margin-bottom: 0;
}

form fieldset legend {
    color: #384313;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
    text-shadow: 0 1px 1px #c0d576;
}

form fieldset legend {
    color: #111111;
    font-size: 13px;
    font-weight: normal;
    padding-bottom: 0;
}

form button {
    background: #384313;
    border: none;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    color: #ffffff;
    font: 16px Georgia, "Times New Roman", Times, serif;
    margin: auto;
    margin-top: 10px;
    padding: 7px 25px;
    text-shadow: 0 1px 1px #000000;
}

form button:hover {
    background: #1e2506;
    cursor: pointer;
}

#authinfo form button, #create form button {
    display: block;
}

#authinfo form fieldset ol li, #create form fieldset ol li {
    background: #b9cf6a;
    background: rgba(255,255,255,.3);
    border-color: #e3ebc3;
    border-color: rgba(255,255,255,.6);
    border-style: solid;
    border-width: 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    line-height: 30px;
    list-style: none;
    padding: 5px 10px;
    margin-bottom: 2px;
}

fieldset#buttons ol li {
    list-style: none;
    padding: 5px 5px;
    display: inline;
}

fieldset#buttons button {
    margin: 5px auto;
    padding: 7px 8px;
}

#list form {
    padding-top: 0px;
}

#list fieldset {
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-color: #e3ebc3;
    border-color: rgba(255,255,255,.6);
    text-align: center;
}

ul.files li {
    width: 320px;
}

ul li input {
    margin-left: 0;
    z-index: 2;
    cursor: pointer;
    display: none;
}
ul li label {
    cursor: pointer;
    display: block;
    text-align: left;
}

ul.files {
    list-style-type: square;
    text-align: left;
}

ul.containers {
    width: 360px;
}
